html, body {
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  :root {
    --color-bg1: rgb(0, 0, 0);
    --color-bg2: rgb(70, 4, 120);
    --color-bg3: rgb(38, 3, 64);
    --color1: 0, 0, 0;
    --color2: 70, 4, 120;
    --color3: 10, 2, 120;
    --color4: 10, 2, 0;
    --color5: 0, 0, 0;
    --circle-size: 100vmax;
  }
  
  .gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  }
  
  svg {
      display: none;
  }
  
  .gradients-container {
    filter: url(#goo) blur(40px);
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .g1, .g2, .g3, .g4, .g5 {
    position: absolute;
    border-radius: 50%;
    mix-blend-mode: var(--blending);
  }

  .g1 {
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    animation: moveVertical 30s ease infinite;
    opacity: 1;
  }
  
  .g2 {
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
  }
  
  .g3 {
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
  }
  
  .g4 {
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
}
  
  .g5 {      
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
  }

  @keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

  @keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    50% {
        transform: translateX(50%) translateY(10%);
    }
    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

  .nav {
    place-content: flex-start;
    align-items: flex-start;
    border-radius: 999px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    gap: 30px;
    height: min-content;
    left: 100px;
    overflow: visible;
    padding: 0px 10px;
    position: fixed;
    top: 3%;
    z-index: 100;
    background-color: rgb(51, 51, 51);
    justify-content: space-between;
  }

  .nav ul {
    list-style-type: none;
    margin-left: -20px;
  }

  .nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: rgb(225, 200, 250);
  font-size: 16px;
  transition: text-shadow 0.3s ease color 0.3s ease;
}

.nav ul li a:hover {
  text-shadow: 0 0 10px rgb(5, 1, 255), 0 0 20px rgb(141, 82, 230), 0 0 30px white;
  color: white;
}

.socials {
  justify-content: space-between;
  border-radius: 999px;
  display: flex;
  flex-flow: row;
  gap: 30px;
  height: min-content;
  overflow: visible;
  position: fixed;
  top: 3%;
  right: 100px;
  z-index: 100;
  color: black;
  background-color: black;
  padding: 5px 0px;
}

.socials ul {
  list-style-type: none;
}

.socials ul li {
  display: inline-block;
  margin-right: 20px;
  padding-left: 10px;
}

.socials ul li a {
  text-decoration: none;
  color: rgb(225, 200, 250);
  font-size: 16px;
}

.socials ul li a:hover {
  text-shadow: 0 0 10px rgb(5, 1, 255), 0 0 20px rgb(141, 82, 230), 0 0 30px white;
  color: white;
}

.socials .download_button {
  border-radius: 999px;
  background-color: rgb(51, 51, 51);
  color: rgb(225, 200, 250);
  padding: 10px 20px;
  font-size: 16px;
}

.socials .download_button:hover {
  background-color: rgb(225, 200, 250);
  text-shadow: 0 0 10px rgb(5, 1, 255), 0 0 20px rgb(141, 82, 230), 0 0 30px white;
  color: white;
}

.logo {
  height: 18px;
  width: 18px;
  padding-right: 10px;
  align-items: center;
}

.text h1 {
  position: absolute;  
  z-index: 2;
  padding: 100px;
  color: white;
  font-size: 70px;
  font-family: sans-serif;
}

.desription h2 {
  position: absolute;  
  z-index: 2;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 200px;
  color: white;
  font-size: 40px;
  font-family: sans-serif;
}

.stack {
  position: absolute;
  color: white;
  z-index: 2;
  justify-content: space-between;
}

.stack p {
  padding-top: 280px;
  padding-left: 100px;
  font-size: 30px;
  background: linear-gradient(to right, rgb(225, 200, 250), rgb(205, 164, 246), rgb(225, 144, 245), rgb(162, 102, 246), rgb(169, 105, 246), rgb(222, 124, 255), rgb(161, 72, 251));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stack ul {
  list-style-type: none;
  padding-top: 10px;
  padding-left: 100px;
  color: rgb(196, 193, 199);
}

.stack ul li {
  display: inline-block;
  margin-right: 10px;
  border-radius: 999px;
  background-color: rgb(51, 51, 51);
  padding: 10px 15px;
}

.background {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(100deg, var(--color-bg1), var(--color-bg3));
  top: 0;
  left: 0;
}

.project_images {
  height: 300px;
  width: 560px;
  padding-left: 100px;
  padding-bottom: 40px;
}

.projects_section {
  color: white;
  overflow-y: scroll;
  max-height: 100vh;
}

.projects_section h1 {
  color: white;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 70px;
  padding-left: 100px;
}

.projects_section h2 {
  color: white;
  margin-top: -40px;
  font-size: 40px;
  padding-left: 100px;
}

.projects_section p {
  color:rgb(196, 193, 199);
  font-size: 18px;
  margin-top: -20px;
  margin-left: 60px;
  margin-right: 90px;
  padding-left: 40px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.projects_section ul {
  list-style-type: none;
  color: rgb(196, 193, 199);
  text-align: center;
  padding-right: 30px;
}

.projects_section ul li {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 10px;
  border-radius: 999px;
  background-color: rgb(51, 51, 51);
  padding: 5px 15px;
  font-size: 14px;
}

.projects_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.project_container {
  border: 1px solid rgb(225, 200, 250);
  padding-top: 75px;
  padding-bottom: 50px;
  flex: 1 0 300px;
  transition: background-color 0.3s ease;
}

.project_container:hover {
  background-color: rgb(225, 200, 250);
}

.project_container:hover p {
  color: rgb(51, 51, 51);
}

.project_container:hover h2 {
  color: rgb(51, 51, 51);
}

.resume_section h1 {
  color: white;
  margin-top: 100px;
  font-size: 70px;
  padding-left: 100px;
}

.resume_entry {
  color: white;
  padding-left: 100px;
  border-top: 1px solid rgb(225, 200, 250);
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: -40px;
}

.resume_entry h2 {
  font-size: 40px;
  margin-top: -20px;
  padding-top: 20px;
  color: rgb(225, 200, 250);
}

.resume_entry p {
  font-size: 10px;
}

.resume_item {
  color: white;
}

.resume_item h3 {
  font-size: 28px;
  margin-top: -20px;
  color: white
}

.resume_item p {
  font-size: 18px;
  color: rgb(196, 193, 199);
  margin-top: -15px;
}

.resume_item ul {
  padding-bottom: 50px;
  margin-top: -5px;
  margin-left: -10px;
  color: rgb(196, 193, 199);
}

.contact_section h1 {
  color: white;
  margin-top: 100px;
  font-size: 70px;
  padding-left: 100px;
}

.contact_form {
  max-width: 1000px;
  padding: 40px;
  padding-right: 60px;
  margin-top: -30px;
  margin-left: 100px;
  border: 1px solid rgb(225, 200, 250);
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 5px;
}

.contact_form button {
  background: rgb(51, 51, 51);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 999px;
  color: rgb(225, 200, 250);
  border: 0px;
  font-size: 16px;
}

.contact_form button:hover {
  text-shadow: 0 0 10px rgb(5, 1, 255), 0 0 20px rgb(141, 82, 230), 0 0 30px white;
  background-color: rgb(225, 200, 250);
  color: white;
}

.contact_form label,
.contact_form input,
.contact_form textarea {
  color: white;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.contact_form input[type="text"],
.contact_form input[type="email"] {
  height: 30px;
  color: black;
  padding-left: 5px;
}

.contact_form textarea {
  color: black;
  height: 100px;
  padding-left: 5px;
}

.button {
  background: rgb(225, 200, 250);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 999px;
  color: black;
}

.project_container:hover .button {
  background-color: black;
  color: rgb(225, 200, 250);

}

.button_text {
  text-align: center;
}

.button_text a {
  margin-right: 5px;
}

.button_text a:hover {
  text-shadow: 0 0 30px rgb(61, 1, 85), 0 0 2px rgb(225, 174, 246), 0 0 40px white;
}